<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="none" />
    <link rel="shortcut icon" href="../favicon.ico" />
	<link rel="stylesheet" href="backend/css/admin.css" type="text/css" media="screen" />
	<script src="backend/script/common.js" type="text/javascript"></script>
	<title>www.myblog.com - 登录 - Powered by myblog</title>
</head>
<header class="header">    <div class="logo"><a href="#"></a></div>
    <div class="user"style="min-width:800px;max-width:1000px"> <a href="" title="编辑"><img src="backend/image/admin/0.png" width="40" hei ght="40" id="avatar" alt="Avatar" /></a>
      <div class="username" >管理员：<?= $_SESSION['user']['username'] ?>；本次登录时间是：<?= date('Y-m-d H:i:s', $_SESSION['loginTime']) ?>；IP地址是：<?= $_SERVER['REMOTE_ADDR'] ?></div>
      <div class="userbtn"><a class="profile" href="index.php?p=frontend&c=Article&a=getList" title="" target="_blank">站点首页</a>&nbsp;&nbsp;<a class="logout" href="index.php?p=backend&c=User&a=logout" title="" target="_top">退出登录</a></div>
    </div>
    <div class="menu">
      <ul id="topmenu">
<li id="topmenu1"><a href="" target="_self">后台首页</a></li><li id="topmenu2"><a href="" target="_self">站点设置</a></li><li id="topmenu3"><a href="" target="_blank">myblog官网</a></li>      </ul>
    </div>
</header>