<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<frameset rows="90,*" frameborder="yes" framespacing="0">
	<frame src="index.php?a=header&p=backend&c=Index" name="topFrame" scrolling="no" noresize="noresize" id="topFrame"></frame>
	<frameset cols="140,*" frameborder="yes"  framespacing="0">
	  <frame src="index.php?a=menu&p=backend&c=Index" name="leftFrame" scrolling="no" noresize="noresize" id="leftFrame"></frame>
	  <frame src="http://bing.com" name="mainFrame" id="mainFrame"></frame>
	</frameset>
</frameset>
<noframes>
</noframes>
</html>